{% load static %}
<section class="section" id="acerca">
    <article class="article">
        <div class="article__container">
            <h2 class="subtitle about">Acerca de mi</h2>
            <p class="article__description">
                Soy Ingeniero Mecatrónico con conocimiento en Python, Django, SQL, entre otros más.
                Me apasiona y me divierte la programación. Busco mejorar día a día aumentando mi conocimiento
                por medio de la realización de diferentes cursos o por la investigación de conocimientos. He
                obtenido experiencia en la creacion de algunos proyectos básicos desarrollados en los cursos y otros
                ofrecidos por la comunidad. Busco la oportunidad de adentrarme en el ámbito laboral para
                adquirir experiencia ofreciendo todos mis conocimientos obtenidos y mi capacidad de aprendizaje.
            </p>
        </div>
        <div class="article__container intereses">
            <h2 class="subtitle intereses">Intereses</h2>
            <p class="article__description">
                Me gusta escuchar música <span>&#9835;</span>, mis géneros favoritos son el Rock y la salsa,
                practico deportes sobre
                todo voleibol <span>&#127952;</span>, en algunas ocasiones veo películas y series, suelo jugar
                videojuegos, Siempre es
                bueno un buen café <span>&#x2615;</span>. Todas estas actividades
                hacen que pueda trabajar en grupo y mantener un buen ambiente laboral.
                Una de mis metas es poder viajar <span>&#128747;</span> para conocer paisajes, arquitectura urbana y ver diferentes
                culturas sociales.
            </p>
        </div>
    </article>
</section>