{% load static %}
<section class="section" id="habilidades">
    <article class="article">
        <h2 class="subtitle">Habilidades</h2>
        <ul class="skills__list">
            
            <li class="skill"><img src="{% static 'img/python.svg' %}" alt="python"> Python (experiencia 1 año)</li>
            <li class="skill"><img src="{% static 'img/python.svg' %}" alt="python"> Django (experiencia 6 meses)</li>
            <li class="skill"><img src="{% static 'img/mysql.svg' %}" alt="sqlite"> SQL (experiencia 1 año)</li>
            <li class="skill"><img src="{% static 'img/HTML.svg' %}" alt="html"> HTML (experiencia 6 meses)</li>
            <li class="skill"><img src="{% static 'img/CSS.svg' %}" alt="css"> CSS (experiencia 6 meses)</li>
            <li class="skill"><img src="{% static 'img/Javascript.svg' %}" alt="javascript"> Javascript (experiencia 6 meses)</li>
        </ul>
    </article>
</section>