<section class="section" id="estudios">
    <article class="article">
        <h2 class="subtitle">Estudios</h2>
        <ul class='studies__list'>
            <li class="list__item">
                <span class="content">
                    <span>Profesional en Ingeniería Mecatrónica</span> graduado de la Universidad ECCI de
                    Bogotá, Colombia Egresado en el año 2020.
                </span>
            </li>
            <li class="list__item">
                <span class="content">
                    <span>Misión Tic 2022 Programa de Desarrollo</span>, ofrecido por el gobierno
                    Colombiano,realizado en la Universidad El Bosque en el año 2021.
                </span>
            </li>
            <li class="list__item">
                <span class="content">
                    <span>Diplomatura en Python</span> realizada en la Universidad nacional de la plata de
                    Buenos Aires, Argentina Cursando.
                </span>
            </li>
            <li class="list__item">
                <span class="content">
                    <span>Programa codo a codo - Fullstack Python</span>, ofrecido por el gobierno Argentino
                    Cursando.
                </span>
            </li>
        </ul>
    </article>
</section>